<div ng-hide="member.id_member">
    <h1>Tambah Member Baru</h1>
</div>

<div ng-show="member.id_member">
    <h1>Edit Data Member</h1>
</div>

<form name="memberForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div class="form-group" ng-class="{ 'has-error' : memberForm.nama.$invalid && !memberForm.nama.$pristine }">
                    <label>Nama</label>
                    <input name="nama" class="form-control" ng-model="member.nama" required />
                    <p ng-show="memberForm.nama.$invalid && !memberForm.nama.$pristine" class="help-block">Nama tidak boleh kosong.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.tanggal_lahir.$invalid && !memberForm.tanggal_lahir.$pristine }">
                    <label>Tanggal Lahir</label>
                    <!-- <input name="tanggal_lahir" class="form-control" ng-model="member.tanggal_lahir" required />  -->
                    <datepicker date-set="1990/01/01" date-format="yyyy-MM-dd">
                        <input name="tanggal_lahir" ng-model="member.tanggal_lahir" class="form-control" required />
                    </datepicker>
                    <p ng-show="memberForm.tanggal_lahir.$invalid && !memberForm.tanggal_lahir.$pristine" class="help-block">
                        Tanggal lahir tidak boleh kosong
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.jalan.$invalid && !memberForm.jalan.$pristine }">
                    <label>(Alamat) Jalan</label>
                    <input name="jalan" class="form-control" ng-model="member.jalan" required />
                    <p ng-show="memberForm.jalan.$invalid && !memberForm.jalan.$pristine" class="help-block ">Jalan tidak boleh kosong.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.kelurahan.$invalid && !memberForm.kelurahan.$pristine }">
                    <label>(Alamat) Kelurahan</label>
                    <input name="kelurahan" class="form-control" ng-model="member.kelurahan" required />
                    <p ng-show="memberForm.kelurahan.$invalid && !memberForm.kelurahan.$pristine" class="help-block ">Kelurahan tidak boleh kosong.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.kecamatan.$invalid && !memberForm.kecamatan.$pristine }">
                    <label>(Alamat) Kecamatan</label>
                    <input name="kecamatan" class="form-control" ng-model="member.kecamatan" required />
                    <p ng-show="memberForm.kecamatan.$invalid && !memberForm.kecamatan.$pristine" class="help-block ">Kecamatan tidak boleh kosong.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.kota.$invalid && !memberForm.kota.$pristine }">
                    <label>(Alamat) Kota/Kabupaten</label>
                    <input name="kota" class="form-control" ng-model="member.kota" required />
                    <p ng-show="memberForm.kota.$invalid && !memberForm.kota.$pristine" class="help-block ">Kota tidak boleh kosong.</p>
                </div>

            </div> <!-- well -->

        </div> <!-- col-md-6 -->

        <div class="col-md-6">
            <div class="well">

                <div class="form-group" ng-class="{ 'has-error' : memberForm.gender.$invalid && !memberForm.gender.$pristine }">
                    <label>Gender</label>
                    <select name="gender" class="form-control" ng-model="member.gender" required>
                        <option value="Pria">Pria</option>
                        <option value="Wanita">Wanita</option>
                    </select>
                    <p ng-show="memberForm.gender.$invalid && !memberForm.gender.$pristine" class="help-block">
                        Gender tidak boleh kosong
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.telepon.$invalid && !memberForm.telepon.$pristine }">
                    <label>Nomor Telepon / HP</label>
                    <input name="telepon" class="form-control" 
                        ng-model="member.telepon" required />
                    <p ng-show="memberForm.telepon.$invalid && !memberForm.telepon.$pristine" class="help-block">
                        Nomor telepon tidak boleh kosong.
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.pekerjaan.$invalid && !memberForm.pekerjaan.$pristine }">
                    <label>Pekerjaan</label>
                    <input name="pekerjaan" class="form-control" 
                        ng-model="member.pekerjaan" required />
                    <p ng-show="memberForm.pekerjaan.$invalid && !memberForm.pekerjaan.$pristine" class="help-block">
                        Pekerjaan tidak boleh kosong
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : memberForm.tanggal_daftar.$invalid && !memberForm.tanggal_daftar.$pristine }">
                    <label>Tanggal Daftar</label>
                    <datepicker date-set={{now}} date-format="yyyy-MM-dd">
                        <input name="tanggal_daftar" class="form-control" ng-model="member.tanggal_daftar" required />
                    </datepicker>
                    <p ng-show="memberForm.tanggal_daftar.$invalid && !memberForm.tanggal_daftar.$pristine" class="help-block">
                        Tanggal daftar tidak boleh kosong
                    </p>
                </div>

                <div class="form-group">
                    <label>Biaya Daftar</label>
                    <input class="form-control" ng-model="member.biaya_daftar" disabled />
                </div>

                <button ng-disabled="memberForm.$invalid" class="btn btn-primary" ng-click="insertMember(member)" ng-hide="member.id_member">Simpan</button>
                <button ng-disabled="memberForm.$invalid" class="btn btn-primary" ng-click="updateMember(member)" ng-show="member.id_member">Update</button>
                <button class="btn btn-default" ng-click="cancel()">Batal</button>
            </div> <!-- well -->
            
        </div> <!-- col-md-6 -->
    </div> <!-- row -->

</form>
</div>