
<h1>List Data Member</h1>

<div class="row">
    <div class="col-md-4">
        <a href="#/member/tambah" class="btn btn-success fa fa-plus"> Tambah Member</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" ng-model="cari" placeholder="Cari">
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Tanggal Daftar</th>
        <th class="text-center">Perpanjang</th>
        <th class="text-center">Aksi</th>
    </tr>
    <tr ng-hide="member.length">
        <td colspan="5" class="text-center">No Data</td>
    </tr>
    <tr class="repeat-animation" ng-repeat="m in member | orderBy:'id_member' | filter:cari">
        <td>{{m.id_member}}</td>
        <td>{{m.nama}}</td>
        <td>{{m.tanggal_daftar | date : 'dd MMMM yyyy'}}</td>
        <td class="text-center">
            <a href="#/member/perpanjang/{{ m.id_member }}" class="btn btn-xs btn-success">Perpanjang</a>
        </td>
        <td class="text-center">
            <a href="#/member/edit/{{ m.id_member }}" class="btn btn-xs btn-primary">
                Edit
            </a>
            <button ng-click="deleteMember(m.id_member)" class="btn btn-xs btn-danger">
                Delete
            </button>
        </td>
    </tr>
</table>